body {
    background-color: rgb(243, 255, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 25px 30px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;

    a {
        text-decoration: none;
        background-color: aliceblue;
        padding: 10px 20px;
        color: black;
        border-radius: 40px;
        border: rgb(194, 218, 240) 2px solid;

        &:hover {
            background-color: aliceblue;
        }
    }
}