body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;

    a {
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

        &:hover {
            background-color: rgb(241, 207, 207);
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); 
    border-radius: 20px;
    text-align: center;

    .shop-container {
        background-color: white;
        padding: 20px;
        border-radius: 20px 0 0 20px;

        .products {
            width: max-content;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: aliceblue;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) inset;

            .product {
                display: grid;
                grid-template-rows: 1fr 1fr;
                width: 200px;
                height: 130px;
                background-color: white;
                border-radius: 5px;
                margin: 5px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

                .top {
                    padding: 5px;
                }

                .bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: aliceblue;
                    padding: 5px;
                    border-radius: 0 0 5px 5px;

                    * {
                        margin: 10px;
                    }

                    button {
                        user-select: none;
                        padding: 10px;
                        font-size: 1rem;
                        border-radius: 5px;
                        background-color: white;
                        border: rgb(194, 216, 235) 2px solid;
                        margin: auto;

                        &:hover:not(&[disabled]) {
                            cursor: pointer;
                            background-color: rgb(194, 216, 235);
                        }

                        &[disabled] {
                            border: none;
                            background-color: aliceblue;
                        }
                    }

                    .product-price {
                        background-color: rgb(240, 255, 244);
                        border: rgb(169, 231, 169) 2px solid;
                        padding: 5px 10px;
                        border-radius: 20px;
                        font-weight: bold;
                        margin: auto;
                    }
                }
            }
        }
    }

    .cart-container {
        position: relative;
        background-color: white;
        padding: 20px;
        border-radius: 0 20px 20px 0;

        table tr {
            .product-name {
                background-color: aliceblue;
                padding: 10px;
                border-radius: 25px;
            }

            .product-price {
                background-color: rgb(240, 255, 241);
                padding: 10px;
                border-radius: 25px;
            }

            button {
                user-select: none;
                background-color: rgb(255, 240, 240);
                padding: 10px;
                border-radius: 25px;
                border: rgb(222, 132, 132) 2px solid;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(222, 132, 132);
                    color: white;
                }
            }
        }

        .total-label {
            font-size: 1.1rem;
            background-color: rgb(173, 214, 230);
            padding: 10px;
            border-radius: 25px;
            font-weight: bold;
        }

        .total {
            font-size: 1.1rem;
            background-color: rgb(173, 230, 176);
            padding: 10px;
            border-radius: 25px;
            font-weight: bold;
        }

        p .continue {
            position: absolute;
            background-color: aliceblue;
            border: rgb(190, 215, 237) 2px solid;
            text-decoration: none;
            color: black;
            padding: 20px;
            border-radius: 5px;
            font-size: 1.3rem;
            margin: 20px;
            left: 50%;
            width: 250px;
            transform: translate(-50%, -20px);

            &:hover {
                background-color: rgb(173, 214, 230);
            }
        }
    }
}